*{
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
    color: antiquewhite;
  }

body{
    background-color: #222629;
}

/* Start: Preloader */
.no-scroll-y {
	overflow-y: hidden;
}

#preloader-section{
    margin: 0;
    padding: 0;
}

.ctn-preloader {
	-webkit-box-align: center;
	align-items: center;
  
  /* Show or Hide cursor when hover of Preloader*/
    cursor: none;
	display: -webkit-box;
	display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
	position: fixed;
	left: 0;
    top: 0;
	width: 100%;
    z-index: 9999;
}

.ctn-preloader .animation-preloader {
	position: absolute;
    z-index: 100;
}

/* Spinner loading */
.ctn-preloader .animation-preloader .spinner {
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
	border-radius: 50%;
    border: 3px solid #6B6E70;
    border-top-color: #F5D300; 
    height: 9em;
    margin: 0 auto 3.5em auto;
    width: 9em;
}

/* Text Loading */
.ctn-preloader .animation-preloader .txt-loading {
    font: bold 10em ;
    text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    -webkit-animation: letters-loading 4s infinite;
    animation: letters-loading 4s infinite;
    color: #F5D300;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: #6B6E70;
	position: relative;
}

/* Letters Animation */
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(9):before {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(10):before {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(11):before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(12):before {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(13):before {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(14):before {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(15):before {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(16):before {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

/* Loader section Settings */
.ctn-preloader .loader-section {
  background-color: #222629;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Fade effect in loading animation */
.loaded .animation-preloader {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

/* Curtain effect */
.loaded .loader-section.section-left {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
  transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
}

.loaded .loader-section.section-right {
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
  transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
}

/* Preloader Animation */
@-webkit-keyframes spinner {
	to {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}
@keyframes spinner {
	to {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}

/* Animation of the letters loading from the preloader */
@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
/*End: Preloader*/



/** Start: HEADER **/
#header-nav {
  background-color: #222629;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/AV.png') no-repeat;
  height: 96px;
  width: 90px;
  margin: 10px 15px 0 0;
}


  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    font-weight: bold;
    color: #F5D300;
    padding-top: 0px;
  }
  #nav-list a:hover {
    color: #FFFFCC;
    font-size: 1.2em;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #F5D300;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -65px;
  }
  
  #collapsable-nav li:nth-child(6){
    border: 2px solid #F5D300;
  }

  /** SIdebar trial**/
  .sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 120px;
    text-align: center;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.2s;
    transition: 0.2s; 
  }

  .sidebar ul {
    list-style: none;
    padding: 0px; 
  }

  .sidebar li {
    margin-top: 35px;
    margin-bottom: 35px; 
  }

  .sidebar a {
    text-decoration: none;
    font-size: 18px;
    color: #ededed;
    font-weight: 400; 
  }

  .sidebar a:hover {
    color: rgba(67, 144, 168, 0.9); 
  }
  
  .sidebar.fixed {
    -webkit-transform: translateX(0);
    transform: translateX(0); 
  }

  .banner {
    color: white;
    text-align: center;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-attachment:  fixed; 
  }          

  .banner h1 {
    color: rgba(237, 237, 237, 0.9);
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2); 
  }

  .banner p {
    font-size: 17px; 
  }
            
  .banner-small {
    height: 300px;
    width: 100%; 
  }
            
  .arrow-down {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 40px;
    display: none; 
  }
            
  .scroll {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 35px;
    padding: 10px;
    color: rgba(237, 237, 237, 0.9);
    -webkit-animation: arrowBounce 2.5s infinite;
    animation: arrowBounce 2.5s infinite; 
  }
  .section {
    z-index: 2000;
    padding: 50px 140px 50px 140px;
    margin-bottom: 25px; 
  }            
  /** SBtrial ends**/

  /** HEADER ENDS**/

  /*BODY STARTS*/
  /*BODY ENDS*/

  /**FOOTER STARTS**/

  /**FOOTER ENDS**/



/*--------------Media Queries------------------*/

/*------------------Large devices----------------*/
@media (min-width: 992px) {
	/* Prelaoder */
	/* Spinner Loading */
	.ctn-preloader .animation-preloader .spinner {
		height: 10em;
		width: 10em;
	}

	/* Text Loading */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 5em;
	}
}

/* -------------------Medium Devices----------------------- */
@media (min-width: 768px) and (max-width: 991px) {
	/* Preloader */
	/* Spinner Loading */	
	.ctn-preloader .animation-preloader .spinner {
		height: 8em;
		width: 8em;
	}

	/* Text Loading */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em ;
  }
  
}

/*---------------------Small Devices-------------*/
@media (max-width: 767px) {
	/* Prelaoder */
	/* Spinner Loading */
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	/* Text Loading */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 2em;
  }

  #logo-img {
    width: 90px;
    height: 80px;
    margin: 5px 5px 5px 5px;
  }

  #collapsable-nav li:nth-child(6){
    border: none;
  }

  #nav-list a {
    padding-top: 5px;
  }
}


