*{
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
    color: #FFFFFC;
  }

body{
    background-color: #222629;
}

/* Start: Preloader */
.no-scroll-y {
	overflow-y: hidden;
}

#preloader-section{
    margin: 0;
    padding: 0;
}

.ctn-preloader {
	-webkit-box-align: center;
	align-items: center;
  
  /* Show or Hide cursor when hover of Preloader*/
    cursor: none;
	display: -webkit-box;
	display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
	position: fixed;
	left: 0;
    top: 0;
	width: 100%;
    z-index: 9999;
}

.ctn-preloader .animation-preloader {
	position: absolute;
    z-index: 100;
}

/* Spinner loading */
.ctn-preloader .animation-preloader .spinner {
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
	border-radius: 50%;
    border: 3px solid #6B6E70;
    border-top-color: #F5D300; 
    height: 9em;
    margin: 0 auto 3.5em auto;
    width: 9em;
}

/* Text Loading */
.ctn-preloader .animation-preloader .txt-loading {
    font: bold 10em ;
    text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    -webkit-animation: letters-loading 4s infinite;
    animation: letters-loading 4s infinite;
    color: #F5D300;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: #6B6E70;
	position: relative;
}

/* Letters Animation */
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(9):before {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(10):before {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(11):before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(12):before {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(13):before {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(14):before {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(15):before {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(16):before {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

/* Loader section Settings */
.ctn-preloader .loader-section {
  background-color: #222629;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Fade effect in loading animation */
.loaded .animation-preloader {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

/* Curtain effect */
.loaded .loader-section.section-left {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
  transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
}

.loaded .loader-section.section-right {
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
  transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
}

/* Preloader Animation */
@-webkit-keyframes spinner {
	to {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}
@keyframes spinner {
	to {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}

/* Animation of the letters loading from the preloader */
@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
/*End: Preloader*/



/** Start: HEADER **/
#header-nav {
  background-color: #222629;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/AV.png') no-repeat;
  height: 96px;
  width: 90px;
  margin: 10px 15px 0 0;
}


  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    font-weight: bold;
    color: #F5D300;
    padding-top: 0px;
  }
  #nav-list a:hover {
    color: #FFFFCC;
    font-size: 1.2em;
  }

  .navbar-header button.navbar-toggle{
    border: 1px solid #222629;
  }
  
  .navbar-header .icon-bar {
    border: 1px solid #F5D300;
    float: right;
    clear: both;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -65px;
  }

  .navbar-header button.navbar-toggle:hover{
    transform: scale(1.5);
    background-color: #222629;
  }

  .navbar-header button.navbar-toggle:focus{
    background-color: #222629;
  }

  .navbar-header button span:nth-child(2){
    width: 1.2em;
  }

  .navbar-header button span:nth-child(3){
    width: 0.8em;
  }

  .navbar-header button span:nth-child(4){
    width: 0.4em;

  }
  
  #collapsable-nav li:nth-child(6){
    border: 2px solid #F5D300;
  }

  /** Sidebar starts**/
  .sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 120px;
    text-align: center;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.2s;
    transition: 0.2s; 
  }

  .sidebar ul {
    list-style: none;
    padding: 0px; 
  }

  .sidebar li {
    margin-top: 35px;
    margin-bottom: 35px; 
  }

  .sidebar a {
    text-decoration: none;
    color: #F5D300;
    font-weight: bold; 
  }

  .sidebar a:hover {
    color: #FFFFCC;
    font-size: 1.2em;
  }
  
  .sidebar.fixed {
    -webkit-transform: translateX(0);
    transform: translateX(0); 
  }
/** SB ends**/


/* Name-page starts */
  .name-page {
    text-align: left;
    height: 80vh;
    padding-right: 20px;
  }          

  .name-page h4{ /*Hey there, my name is*/
    color: #F5D300;
    padding-bottom: 0px;
  }

  .name-page h1{ /*Athashree Vartak.*/
    font-weight: bold;
    padding-top: 0px;
    color: #FFFFFF;
  }
  .name-page h2{ /*SE | ML | WD*/
    color: #FAEBD7;
  }
  .name-page h3 i{ /*Seeking SWE intern roles*/
    color: #F1C891;
  }
     
  .name-page #description h4{ /*Description*/
    float: left;
    color: #F1C891;
    line-height: 1.2em;
    padding-top: 35px;
  }
  /*Name-page Ends*/     
  .section {
    z-index: 2000;
    padding: 50px 140px 50px 140px;
    margin-bottom: 25px; 
    clear: both;
  }            
  

  


  /**FOOTER STARTS**/

  /**FOOTER ENDS**/



/*--------------Media Queries------------------*/

/*------------------Large devices----------------*/
@media (min-width: 992px) {
	/* Prelaoder */
	/* Spinner Loading */
	.ctn-preloader .animation-preloader .spinner {
		height: 10em;
		width: 10em;
	}

	/* Text Loading */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 5em;
  }
  
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    padding: 15px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  /*name-page Start*/
  .name-page {
    padding-left: 120px;
    padding-top: 30px;
    padding-right: 30px;
  }          

  .name-page h4{ /*Hey there, my name is*/
    font-size: 1.2em;
  }

  .name-page h1{ /*Athashree Vartak.*/
    font-size: 5em;
  }

  .name-page h2{ /*SE | ML | WD*/
    font-size: 2.2em;
  }

  .name-page h3 i{ /*Seeking SWE intern roles*/
    font-size: 0.9em;
  }
     
  .name-page #description h4{/*Description*/
    font-size: 1.2em;
  }
  /*name-page End*/

}

/* -------------------Medium Devices----------------------- */
@media (min-width: 768px) and (max-width: 991px) {
	/* Preloader */
	/* Spinner Loading */	
	.ctn-preloader .animation-preloader .spinner {
		height: 8em;
		width: 8em;
	}

	/* Text Loading */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em ;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }

  /*name-page Start*/
  .name-page {
    padding-left: 80px;
    padding-top: 20px;
    padding-right: 20px;
    height: 100vh;
  }          

  .name-page h4{ /*Hey there, my name is*/
    font-size: 1.1em;
  }

  .name-page h1{ /*Athashree Vartak.*/
    font-size: 4em;
  }

  .name-page h2{ /*SE | ML | WD*/
    font-size: 1.8em;
  }

  .name-page h3 i{ /*Seeking SWE intern roles*/
    font-size: 0.9em;
  }
     
  .name-page #description h4{/*Description*/
    font-size: 1.1em;
  }
  /*name-page End*/
  
}

/*---------------------Small Devices-------------*/
@media (min-width: 576px) and (max-width: 767px) {
	/* Prelaoder */
	/* Spinner Loading */
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	/* Text Loading */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 2em;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }

  #logo-img {
    float: left;
    width: 90px;
    height: 80px;
    margin: 5px 5px 5px 5px;
  }

  #collapsable-nav li:nth-child(6){
    border: none;
  }

  #nav-list a {
    padding-top: 5px;
  }

  /*name-page Start*/
  .name-page {
    padding-left: 50px; 
    padding-top: 20px;
    padding-right: 30px;
    height: 80vh;
  }          

  .name-page h4{ /*Hey there, my name is*/
    font-size: 1em;
  }

  .name-page h1{ /*Athashree Vartak.*/
    font-size: 3em;
  }

  .name-page h2{ /*SE | ML | WD*/
    font-size: 1.4em;
  }

  .name-page h3 i{ /*Seeking SWE intern roles*/
    font-size: 0.7em;
  }
     
  .name-page #description h4{ /*Description*/
    font-size: 0.9em;
    padding-top: 20px;
  }
  /*name-page End*/
}


/*------------------- XS Devices-------------*/

@media (max-width: 575px){
/*name-page Start*/
.name-page {
  padding-left: 30px; /*write media query for this*/
  height: 70vh;
}          

.name-page h4{ /*Hey there, my name is*/
  font-size: 0.8em;
}

.name-page h1{/*Athashree Vartak.*/
  font-size: 2.6em;
}

.name-page h2{ /*SE | ML | WD*/
  font-size: 1.2em;
}

.name-page h3 i{ /*Seeking SWE intern roles*/
  font-size: 0.7em;
}
   
.name-page #description h4{ /*Description*/
  font-size: 0.9em;
  padding-top: 10px;
}

#collapsable-nav li:nth-child(6){
  border: none;
}
/*Banner End*/
}